<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registrarse</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <!-- Barra de navegación -->
  <div class="navbar">
    <h1>Mis Mejores Momentos</h1>
    <div class="navbar-links">
      <a href="/login">Iniciar sesión</a>
      <a href="/register">Registrar</a>
      <a href="/" class="navbar-link navbar-link-back">Cerrar la sesión</a> <!-- Enlace Volver -->
    </div>
    </div>
  </div>
  <h1>Registrarse</h1>
  <form action="/register" method="POST">
    <label for="username">Nombre de usuario:</label>
    <input type="text" name="username" required>

    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>

    <button type="submit">Registrarse</button>
  </form>
  <footer class="footer">
    <p>&copy; 2024 Mis Mejores Momentos. Todos los derechos reservados.</p>
    <p>Desarrollado por Juan Carlos Rocha Ruiz</p>
  </footer>
</body>
</html>
